html,body{
	padding: 0
}
.container-fluid{
	padding: 0;
}
.header{
	width: 100%;
	height: 70px;
	background-color: #A7DFDE;
}
.header p{
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	line-height: 70px;
}
.mid{
	margin-top: 10%;
	display: flex;
	justify-content: space-around;
	padding: 0 20px;
}
.top{
	width: 150px;
	height: 38px;
	border: solid 1px ;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 10%;
}
input{
	width: 110px;
	height: 36px;
	border: none;
	outline: none;
}
.top span{
	margin-left: 10px;
}
.bottom{
	display: flex;
	width: 300px;
	margin: 0 auto;
	text-align: center;
	margin-top: 15%;
	justify-content: space-around;
}
.list{
	/*width: 300px;*/
	display: flex;
	margin-top: 5%;
}
ul{
	list-style: none;
}
.list span{
	color: #C53B38;
}
.list li{
	border-bottom: dashed 1px #CECECE;
	padding: 5px 0;
	font-size: 11px;
}
.footer{
	width: 100%;
	height: 60px;
	background-color: #A7DFDE;
	display: flex;
	text-align: center;
	bottom: 0;
	position: fixed;
}
.footer div{
	width: 25%;
}
.footer img{
	margin-top: 10px;
}
.blank{
	width: 100%;
	height: 60px;
	margin-top: 10%;
}