.container-fluid{
	padding: 0;
}
.header{
	width: 100%;
	height: 70px;
	background-color: #A7DFDE;
}
.header p{
	color: #ffffff;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
}
.nav{
	display: flex;
	width: 100%;
}
.nav div{
	width: 50%;
	text-align: center;
	height: 26px;
	line-height: 26px;
}
.nav1{
	border-right: solid 1px #979797;
	border-bottom: solid 2px #A7DFDE;
}
.nav2{
	border-bottom: solid 1px #979797;
}
.content2 .top{
	display: flex;
	width: 100%;
	height: 42px;
	margin-top: 5px;
}
.content2 .top img{
	margin-left: 5%;
}
.content2 .top span{
	margin-left: 3%;
}
.content2 .top p{
	color: black;
	margin-bottom: 0;
}
.content2 .name{
	font-size: 14px;
	margin-top: 3px;
}
.content2 .time{
	font-size: 10px;
	color: #CECECE;
}
.content2 .middle{
	width: 100%;
	height: 51px;
	margin-top: 5%;
}
.content2 .middle p{
	text-align: center;
}
.content2 .bottom{
	display: flex;
	margin-top: 15%;
	justify-content: space-around;
}
.content2 hr{
	margin: 10px 0 30px;
}
.content2 .space{
	background-color: #D8D8D8;
	height: 10px;
	width: 100%;
}
.footer{
	width: 100%;
	height: 60px;
	background-color: #A7DFDE;
	display: flex;
	text-align: center;
	position: fixed;
	bottom: 0;
}
.footer div{
	width: 25%;
}
.footer img{
	margin-top: 10px;
}
.blank{
	width: 100%;
	height: 60px;
	margin-top: 10%;
}